@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

/* HEADER */
header{
    position: sticky;
    top:0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header{
    background-color: #122223;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 5vh;
    
}
.titulo a:hover{
    color: #3d7377;
}

.paginas{
    display: flex;
}
.paginas li a{
    /* margin: 0 1rem; */
    padding: 1rem 2rem;
}

.paginas li a:hover{
    background-color: #3d7377;
}


/* BANNER */
.banner{
    background-color: #122223;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 80px;
}
.banner .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.here{
    color: #3d7377;
}
.here:hover{
    color: tomato;
}
/* SERVICIOS */
.services{
    background-color:#122223;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
    
}
.services .contenedorCards{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #000000;
}
.card{
    width: 20%;
    background-color: #C4C4C4;
    margin: 1rem;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
}
.card:hover{
    background-color: #122223;
    border: #3d7377 solid 2px;
    color: #FFFFFF;
}
.fa-solid{
    font-size: 1.5rem;
}
.textoCard{
    /* font-size: 1.2rem; */
    padding-top: 20px;
    height: 50%;
}

/* PROYECTOS */
.portfolio{
    color:#FFFFFF;
    background-color: #122223;
    border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
}

.portafolio-titulo, .contactme, .tituloservice{
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
    color:#FFFF;
}
.cardproyecto{
    display: flex;
    justify-content: center;
    margin: 20px;
    border: #C4C4C4 solid 2px;
    border-radius: 20px;
    padding: 10px;
}

 .imagenProyecto{
    width: 60%;
} 

.img-proyecto{
    width: 100%;
}
.descriptionProyecto{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding: 50px 20px;
}
.nombreProyecto{
    margin-bottom: 20px;
}
.descripcionProyecto{
    margin: 20px 20px 40px;
}
.verMas{
    padding: 10px 20px;
    
    width: 100px;
    text-align: center;
    color: black;
    background-color: #C4C4C4;
    border-radius: 20px;
}
.verMas:hover{
    border: #C4C4C4 solid 2px;
    background-color: #122223;
    color: #C4C4C4;
}

/* Formulario */

.formulario{
    background-color: #122223;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: #C4C4C4;
    border: #FFFF solid 5px;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 20px;
}
.valorimput{
    padding: 5px;
}
.imputform, textarea{
    padding: 5px;
    border-radius: 10px;
    resize: none;
    border: #000 solid 1px;
}
textarea{
    height: auto;
    margin-bottom: 10px;
}
.botonera { 
    display: flex;
    justify-content: space-around;

}
.btns{ 
    border: #122223 solid 2px;
    border-radius: 10px;
    padding: 5px 20px;
}
.btnsubmit
{ 
    background-color: #122223;
    border: #000 solid 2px;
    color: #C4C4C4;
}

/* FOOTER */

.footer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4C4C4;
}
.titulofooter{
    margin: 20px;
    font-size: 1.5rem;
}
.iconos{
    margin-bottom: 20px;
}
.iconfooter{
    font-size: 50px;
    margin: 0px 40px;
}
.derechos{
    background-color: #000;
    color: #C4C4C4;
    text-align: center;
    padding: 5px;
}