*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

/* HEADER */
header{
    position: sticky;
    top:0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header{
    background-color: #122223;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 5vh;
    
}
.titulo a:hover{
    color: #3d7377;
}

.paginas{
    display: flex;
}
.paginas li a{
    /* margin: 0 1rem; */
    padding: 1rem 2rem;
}

.paginas li a:hover{
    background-color: #3d7377;
}


/* BANNER */
.banner{
    background-color: #122223;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.banner .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.here{
    color: #3d7377;
}
.here:hover{
    color: tomato;
}
/* SERVICIOS */
.services{
    background-color:#122223;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
    
}
.services .contenedorCards{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #000000;
}
.card{
    width: 20%;
    background-color: #C4C4C4;
    margin: 1rem;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
}
.card:hover{
    background-color: #122223;
    border: #3d7377 solid 2px;
    color: #FFFFFF;
}
.fa-solid{
    font-size: 1.5rem;
}
.textoCard{
    /* font-size: 1.2rem; */
    padding-top: 20px;
    height: 50%;
}

/* PROYECTOS */
.portfolio{
    color:#FFFFFF;
    background-color: #122223;
}

.portafolio-titulo{
    padding-top: 10px;
    text-align: center;
}

.imagenProyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-proyecto{
    width: 500px;
}